<div class="card cardBreakfast">
    <img class="cardimg card-img-top img-fluid" [src]="logo" alt="Breakfast">
    <div class="card-body">
        <h5 class="card-title">Breakfast</h5>
        <fieldset class="form-group">
            <div class="form-check" *ngFor='let elemBreakfast of breakfast.items'>
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios">{{elemBreakfast}}
                </label>
            </div>
        </fieldset>
    </div>
</div>
