<div *ngIf='!imageRoudtrip'>
    No info available
</div>
<div  *ngIf='imageRoudtrip' class="card cardBreakfast">
    <img class="cardimg card-img-top img-fluid" [src]="imageRoudtrip" alt="Flight">
    <div class="card-body">
        <h5 class="card-title">Roundtrip</h5>
        <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" name="start" />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">to</span>
            </div>
            <input type="text" class="input-sm form-control" name="end" />
        </div>
        <br />
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Number of persons</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
</div>
